body{
    background-color:rgb(80, 15, 80);
}
.boton_eliminar{

    background:red;
    color:rgb(252, 252, 253);
    border: 1px solid;
    border-color: black;
    
}

.boton_agregar{

    background:rgb(15, 100, 228);
    color:white;
    border: 2px solid;
    border-color: blue;
    max-width: 3%;
    min-width: 30px;
    text-align:center;
    font-size: 18px;
}

.boton-navegacion{

    background-color: white;
    border: 2px solid red;
    width: 15%;
    
    margin-bottom: 5%;
    font-weight: bold;
    
    
}


.container{
    max-width:100%;
    background-color:rgb(8, 8, 8);
    margin-left: 00%;

}

.content-wrapper{
    background-color:white;
    max-width: 100%;
}

.formulario{
    max-width: 100%;
}
.logout{
    position:absolute;
    right: 3%;
    top: 5%;
    background-color: white;
    border: 2px solid red;

}


.menunav {   
	width: 80%; 
	margin: auto;
	text-align: center;

}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 1%;
}

th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 1%;
}
    
tr:nth-child(even) {
  background-color: #dddddd;
}
.titulo{
    margin-top:3%;
    margin-bottom:3%;
    text-align:center;
    color:rgb(254, 255, 255);

}

.titulo_color{
    color: red;
}